{% extends 'main/base.html' %}
{% block title %}
<title>403 error</title>
{% endblock %}
{% block content %}
<main>
    <div class="row mt-5">
        <div class="col mx-auto" style="margin: auto;">
            <div class="card border-danger text-center" style="width: 50%; margin: auto;">
                <div class="card-header">Error 403</div>
                <div class="card-body text-danger ">
                    <h5 class="card-title">Permission Denied</h5>
                    <p class="card-text">Возникла ошибка доступа! Лучше вам уйти с этой страницы.</p>
                    <a class="btn btn-outline-danger" href="../">На главное меню</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}