{% extends 'main/base.html' %}
{% block title %}
<title>About</title>
{% endblock %}
{% block content %}
<main style="text-align:center;">
    <section style="margin-top: 5%; margin-bottom: 5%">
        <div class="container-fluid row">
            <div class="row">
                <div class="col col-md-8 text-center text-md-left ml-5">
                    <div class="shadow-lg card jumbotron">
                        <div class="card-body">
                            <h2>Информация о команде разработчиков</h2>
                            <p style="margin-top: 10%">Сайт разработан командой ZKB Team.</p>
                              <li><a style="margin-top: 2%" href="https://vk.com/daamn_it"> Дубовицкий Алексей </a></li>
                            <li><a href="https://vk.com/id351497665"> Васильев Владимир </a></li>
                            <li><a href="https://vk.com/zsuchkov"> Сучков Евгений </a></li>
                            <li><a href="https://vk.com/id266780125"> Акимов Павел </a></li>
                            <li><a href="https://vk.com/checkonmyaccount"> Тороп Дмитрий </a></li>
                            <li><a href="https://vk.com/vlatyshev2005"> Латышев Иван </a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
