{% extends 'main/base.html' %}
{% block title %}
<title>Vote </title>
{% endblock %}
{% block content %}
{% if error%}
<div class="card jumbotron mt-3 border-success mt-5 mb-5" style="width: 50%; margin: 0 auto; border-radius: 8px; text-align: center">
        <div class="card-body">
            <h2 class="card-title text-center">{{error}}</h2>
            <hr>
            <a href="/available_voting" class="btn btn-outline-success" style=" border-radius: 16px; min-width: 100px; padding: 5px">Вы можете вернуться на главную страницу</a>
            <a href="/other_users_review" class="btn btn-outline-success mt-5" style=" border-radius: 16px; min-width: 100px; padding: 5px">Или посмотреть другие голосования этого пользователя</a>
</div>
{% else %}
<div class="card jumbotron mt-3 border-success mt-5 mb-5" style="width: 50%; margin: 0 auto; border-radius: 8px">
        <div class="card-body">
            <h2 class="card-title text-center">Голосование</h2>
            <hr>
                <div class="row">
                    <div class="col-6" style="text-align: right">
                        <p>Вопрос:</p>
                    </div>
                    <div class="col-6" style="text-align: left">
                        <p>{{ question }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" style="text-align: right">
                        <p>Описание:</p>
                    </div>
                    <div class="col-6" style="text-align: left">
                        <p>{{ description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="text-align: right">
                        <form class="form-group" action='/vote/' method="POST"
                              style="text-align: left; margin-top: 2.5%; margin-left: 25%; margin-right: 25%">
                            {% csrf_token %}
                            {% for i in form_vote %}
                            <div class="row">
                                <div class="col-md-12" style="text-align: left;  margin-left: 40%">
                                    {{ i }}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-12" style="text-align: center; ">
                                    <button type="submit" class="btn btn-outline-success btn-lg"
                                            style=" border-radius: 16px; min-width: 100px; padding: 5px">Отправить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
</div>
<script>
    id_items.setAttribute('style', 'list-style-type: none;')
    let single = {{single}}
    let allitems = document.getElementsByName('items');
    if (single) {
        for (var i = 0; i < allitems.length; i++) {
            allitems[i].type = 'radio'
        }
    }
</script>
{% endif %}
{% endblock %}
